einops==0.8.0
matplotlib==3.9.4
numpy==1.26.0
opencv-python==4.10.0.84
pandas==2.2.3
pillow==10.0.0
pytorch-lightning==2.0.0
scanpy==1.10.3
scikit-image==0.24.0
scikit-learn==1.6.1
seaborn==0.13.2
timm==1.0.13
torch==1.12.1+cu113
torchvision==0.13.1+cu113
tqdm==4.67.1